<header class="header bg-primary" >
<ul class="container">
  <li>WILLIAM LEE</li>
  <li>BASED IN TAIWAN</li>
  <li>CURRENTLY FRONT END<br> ENGINEER AT HEXSCHOOL</li>
  <li>CONTACT ME</li>
</ul>  
</header>