<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>



    <div class="info bg-primary ">
      <div class="container d-flex aic">
        <div class="infoPic w-50">
          <img src="../assets/images/people.png" alt="">
        </div>

        <section class="w-50">
          <p>Hi</p>
          <h1>I’m a front-end developer</h1>
          <h2>William</h2>
          <div class="text-right">
            <a href="#" class="btn_info">
              contact me
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_2_112" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                  <rect width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_2_112)">
                  <path d="M6.4 18L5 16.6L14.6 7H6V5H18V17H16V8.4L6.4 18Z" fill="#1C1B1F" />
                </g>
              </svg>
            </a>
          </div>
        </section>
      </div>
    </div>

    <div class="Introduction bg-primary">
      <div class="container d-flex aic text-white">
        <main class="w-50">
          <h3>Introduction</h3>
          <p>Hi, I'm William Lee, a Front-End Developer with a passion for building beautiful and responsive websites that provide an optimal user experience.</p>
          <section>
            <img src="../assets/images/sparkle-sm.png" alt="">
            <img src="../assets/images/sparkle-sm.png" alt="">
            <img src="../assets/images/sparkle-sm.png" alt="">
          </section>
        </main>
        <img src="../assets/images/sparkle.png" class="mr-6" alt="">
        <img src="../assets/images/photographer.png" class="mr-6" alt="">
        <img src="../assets/images/people-2.png" alt="">
      </div>

    </div>

    <div class="about">
      <div class="container d-flex jcsb aic">


        <div class="cardList d-flex ">
          <div class="card">
            <p>01</p>
            <p>Attention to Detail</p>
            <p class="content">Meticulous code analysis and optimization.</p>
          </div>
          <div class="card">
            <p>02</p>
            <p>Adaptability</p>
            <p class="content">Swift learning of new technologies.</p>
          </div>
          <div class="card">
            <p>03</p>
            <p>Problem Solver</p>
            <p class="content">Identifying and resolving issues.</p>
          </div>
          <div class="card">
            <p>04</p>
            <p>Team Player</p>
            <p class="content">Collaborates and shares ideas.</p>
          </div>
        </div>
        <section class="desc">
          <h3>About Me</h3>
          <p>With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React. I have a strong understanding of user experience design and accessibility. I'm always learning new technologies and techniques to stay up-to-date in the field.</p>
        </section>
      </div>
    </div>

    <div class="contactMe bg-primary">
      <div class="container d-flex jcsb">
        <div class=" d-inlineflex aic">
          <p class="text-white">CONTACT ME</p><img class="img" src="../assets/images/trending_flat_black_24dp 1.png" alt="">
        </div>
        <ul class=" d-inlineflex">
          <li><a href=" #"><img src="../assets/images/discord.png" alt=""></a></li>
          <li><a href="#"><img src="../assets/images/instagram.png" alt=""></a></li>
          <li><a href="#"><img src="../assets/images/message.png" alt=""></a></li>
        </ul>
      </div>
    </div>

    <div class="myProduct">
      <div class="container">
        <h3 class="text-right">My Projects</h3>
        <div class="d-flex">
          <img class="mr-6" src="../assets/images/Rectangle 10.png" style="height: 530px;" alt="">
          <div>
            <div class="top d-flex mb-7">
              <img class="mr-6" src="../assets/images/Rectangle 15.png" alt="">
              <div class="d-flex flex-direction-column jcsb aifs">
                <p>I've worked on a variety of websites, including e-commerce sites, blogs, and landing pages. I take pride in creating clean, efficient, and user-friendly code.</p>

                <a href="#" class="btn_info">
                  SEE MORE

                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_2_112" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                      <rect width="24" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_2_112)">
                      <path d="M6.4 18L5 16.6L14.6 7H6V5H18V17H16V8.4L6.4 18Z" fill="#D9D9D9" />
                    </g>
                  </svg>
                </a>
              </div>
            </div>
            <div class="bottom d-inlineflex">
              <img class="mr-6" src="../assets/images/Rectangle 14.png" alt="">
              <img src="../assets/images/Rectangle 29.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>